
.img {
    width: 500px;
    border-radius: 90%;
    border-color:tomato
}

.torii{
color: blue;
    
    }

    .p {
        overflow-y: auto;

    }

    body {
        padding:;
        color:rgb(0, 0, 0)  
    
    }

    